.bookmarklet{
  font-size: 1rem;
  @include respond-to(mobile){
    font-size: 1.25rem;
  };
  background-color: #a51919;
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin-top: 1.25rem;
  display: block;
  font-weight: bold;
}

.bookmarklet__arrow{
  position: absolute;
  left: 0;
  @include respond-to(mobile){
    left: 10%;
  };
  top: -11.5rem;
  max-height: 250px;
  z-index: 100;
}
